.hero{
background-image: url('/PHOTO.jpg');
background-size: cover;
background-position: center;
height: 350px;
color: lightgray;
padding: 20px;
}
.btn-search{
background-color:goldenrod;
}


.hero-box{
  /* background-color: #6c757d; */
}
.p{
  max-width: 50%;
}
.titles h1, .titles h2{
  margin-bottom: 30px;
}

.hero-text{
  font-size: medium;
  width: 80%;
}

.maroon{
  color: maroon;
}

/* footer css just a suggestion. Clearly this will need updating when we see what the standard css, fonts, etc, used will be */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.footer-left {
  width: 30%;
}

.footer-right {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.footer-column {
  flex: 1;
}

.footer-column h3 {
  margin-bottom: 10px;
}

.footer-column ul {
  list-style-type: none;
}

.footer-column ul li {
  margin-bottom: 5px;
}

h4 {
  color: #6c757d;
  text-align: left;
}

h5 {
  color: #6c757d;
  text-align: left;
}

.footer-column {
  display: flex;
  flex-direction: column;
}

.footer-column h3 {
  margin-bottom: 0;
}

.smlicon {
  height: 30%;
  width: 30%;
}

.shadow:hover {
  background-color: darkgrey;
}

.bold {
  font-weight: bolder;
}

.search {
    background-color: #bbbbbb;
}

.about-us-title {
  padding: 20px;
  color: maroon;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-img-top {
  width: 300px;
  height: 300px;
  padding: 10px;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-primary {
  background-color: #6c757d;
  color: white;
  border: none;
  transition: background-color 0.3s;
  margin-top: 10px;
  width: 150px; 
  text-align: center;
}

.btn-primary:hover {
  background-color: #495057; 
}