.hero{
background-image: url('/PHOTO.jpg');
background-size: cover;
background-position: center;
height: 350px;
color: lightgray;
padding: 20px;
}
.btn-search {
  background-color:goldenrod;
}

.hero-box {
  /* background-color: #6c757d; */
}
.p{
  max-width: 50%;
}
.titles h1, .titles h2{
  margin-bottom: 30px;
}

.hero-text{
  font-size: medium;
  width: 80%;
}

.maroon{
  color: maroon;
}

h4 {
  color: #6c757d;
  text-align: left;
}

h5 {
  color: #6c757d;
  text-align: left;
}

.smlicon {
  height: 30%;
  width: 30%;
}

.shadow:hover {
  background-color: darkgrey;
}

.bold {
  font-weight: bolder;
}

.search {
    background-color: #bbbbbb;
}

.about-us-title {
  padding: 20px;
  color: maroon;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-img-top {
  width: 300px;
  height: 300px;
  padding: 10px;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-primary {
  background-color: #6c757d;
  color: white;
  border: none;
  transition: background-color 0.3s;
  margin-top: 10px;
  width: 150px; 
  text-align: center;
}

.btn-primary:hover {
  background-color: #495057; 
}

.mission-section {
  text-align: center;
  padding: 29px 20px;
  margin-right: 500px;
  margin-left: 500px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.mission-section h1 {
  color: maroon;
}

.mission-section p {
  font-size: 20px;
}